#header
{
    background-color: rgb(92, 92, 92);
    color: #FFFFFF;
    padding: 50px 20px;
}

#articles_box
{
    margin: 20px;
}

.article
{
    border-bottom: 1px solid rgb(92, 92, 92);
    padding: 20px 0px;
    position: relative;
}

.trash_icon
{
    cursor: pointer;
    width: 32px;
    position: absolute;
    right: 0px;
    top: 10px;
}
