<div id="header">
    <h1>HN Feed</h1>
    <p>We <3 hacker news!</p>
    </div>
    <div id="articles_box">
    <div class="article" *ngFor="let article of articles" id="article_{{article.objectID}}">{{article.story_title}}<img class="trash_icon" src="assets/trash_icon.png" (click)="remove_article(article.objectID)"></div>
    </div>

<router-outlet></router-outlet>
